@use "../../css/style_settings.scss" as *;

.home_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: $dark_green;
  height: 700px;
  overflow: hidden;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(1.1); // Start with a slight zoom
}

.slide.active {
  opacity: 1;
  transform: scale(1); // Zoom in slightly for the active image
}

.fade .slide {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade .slide.active {
  opacity: 1;
  transform: scale(1); // Slight zoom-in effect
}

.fade .slide:not(.active) {
  opacity: 0
}
// Paralax
 .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: scale(1.1);
}

.slide.active {
  opacity: 1;
  transform: scale(1); // Default zoom
}

.parallax.active {
  transform: translateY(-100px) scale(1.05);  // Slight parallax shift
}

.parallax:not(.active) {
  transform: translateY(100px) scale(1);  // Reset parallax after transition
} 


//Zoom effect
/* 
.slide {
  transition: opacity 1s ease-in-out, transform 10s ease-in-out; // Slow zoom during the display
  transform: scale(1.10); // Slight zoom
}

.slide.active {
  opacity: 1;
  transform: scale(1); // Active image slowly zooms in
} */
@media (max-width: 768px){
  .home_wrapper{
    grid-column: 1 /4;
    height: 350px;
  }

}
@media (max-width: 1023px) {
  .home_wrapper{
    grid-column: 1 /4;
  }
}
